#body {
    background-color: #090909;
}

#collapse12 {
    background-color: #e84c13;
}

#fadein {
    display: none;
    margin-top: 10%;
}

#map {
    margin-top: 5%;
}

#Analytics {
    display: none;
}

#News {
    display: none;
}

#crowdsourcing {
    display: none;
}